/*html, body {background: #3e3e3e;}*/
header, main {padding-left: 240px;}
@media only screen and (max-width: 992px) {
	header, main {padding-left: 0;}
}

/* Sidebar */
.side-nav {
	background: rgba(33,33,33,0.96) !important;
}
.side-nav li:not(.logo) a {
	padding: 15px !important;
	color: #fff;
}
.side-nav li:not(.logo):hover {
	background: rgba(0,0,0,0.2) !important; 
}


.side-nav li:not(.logo) a i {
	color: #616161;
	margin-right: 20px;
	font-size: 20px !important;
}
.side-nav li:not(.logo) a, .side-nav li:not(.logo) a i {
	line-height: 14px;
	font-size: 14px;
}

.waves-effect {display: block;}

/* Logo */
.logo:hover {background: none !important;}
#logo-container {
	font-size: 20px;
	line-height: 60px;
}
.logo-red {color: red;}
.logo-white {color: white;}


/* Top Nav */

.page-title {line-height: 60px; font-size: 20px;}
nav {background: #9e9e9e; height: 64px;line-height: 64px}

@media only screen and (max-width: 600px) {
	.top-nav .container {position: relative;left: 20px;}
}

.button-collapse.top-nav {
	left: 0%;
	position: absolute;
	top: 0;
	float: none;
	margin-left: 1.5rem;
	color: #fff;
	font-size: 32px;
	z-index: 2;
	line-height: 60px;
}


/* Event Card*/
.event:first-child {margin-top: 20px}
.event .card-content {position: relative;}
.event .card-title {color: #000 !important;}
.event .card-time {
	position: absolute;
	right: 25px;
	background: #dd2c00;
	width: 64px;
	text-align: center;
	color: #fff;
	height: 64px;
	font-size: 20px;
	line-height: 0.9em;
	border-radius: 50%;
	padding-top: 18px;
	top: -30%;
}
.event .card-time span {
	display: block;
	font-size: 10px;
	color: rgba(255,255,255,0.5);
}

.event .card-location {
	display: block;
	text-transform: uppercase;
	color: #9e9e9e;
	font-size: 12px;
}

div.json-format {
	display: none;
}